@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('http://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=latin');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    z-index: 1;
}

/* start PHUONG */

/* end PHUONG */


/* start VY */
.saving-projects {
    background-color: white;
    color: #2d394b;
}
.saving-title {
    font-size: 40px;
    padding-top: 20px;
    font-weight: 700;
}
.saving-penguins {
    display: flex;
    margin: 80px 0px 120px 0px;
    display: flex;
    justify-content: center;
}
.saving-penguins-text {
    max-width: 500px;
    min-width: 500px;
}
.saving-penguins img {
    padding-right: 140px;
    max-width: 100%;
}
.savign-penguins-header {
    font-size: 27px;
    padding-top: 20px;
    font-weight: 700;
}
.saving-content {
    padding-top: 20px;
    font-size: 13px;
    font-weight: 200;
    line-height: 20px;
}
.penguins-bar-content {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
.penguins-back-bar {
    height: 13px;
    width: 100%;
    background-color: #252839;
    border-radius: 6.5px;
    margin-top: 10px;
}
.penguins-front-bar {
    height: 13px;
    width: 40%;
    background-color: #3cc88f;
    border-radius: 6.5px;
    margin-top: -13px;
}
.background-circle {
    background-color: #f2fffa;
    height: 450px;
    width: 450px;
    position: absolute;
    border-radius: 100%;
    z-index: 0;
    margin-left: 1069px;
    margin-top: 200px;
}
.take-action {
    background-image: url(https://template94870.motopreview.com/mt-demo/94800/94870/mt-content/uploads/2020/01/mt-1961-img-7.jpg);
    height: 223px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.take-action-title {
    color: white;
    font-weight: 700;
    font-size: 70px;
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.take-action-content {
    color: #3cc88f;
    font-style: italic;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    font-size: 45px;
    margin-left: 70px;
}
.saving-whales {
    display: flex;
    margin-top: 120px;
    margin-left: 350px;
    margin-bottom: 120px;
        width: 76.9%;
}
.saving-whales-text {
    min-width: 540px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.saving-bgi{
    background-image: url('https://template94870.motopreview.com/mt-demo/94800/94870/mt-content/uploads/2020/01/mt-1961-content-bg-4.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 60%;
    height: 700px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.saving-whales-header {
    color: #3cc88f;
    font-size: 13px;
    font-weight: 700;
    display: flex;
}
.saving-whales-dots {
    color: gray;
    font-size: 20px;
    word-spacing: -3px;
    margin-top: -6px;
    margin-right: 15px;
}
.saving-date {
    font-weight: 500;
    font-size: 20px;
}
#saving-countdown {
    display: flex;
    align-items: center;
}
#saving-countdown button {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    font-size: 30px;
}
#saving-countdown p {
    font-size: 30px;
    margin-top: 15px;
    padding: 0 5px;
    font-weight: 300;
}
.saving-project button {
    background-color: #3cc88f;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: #3cc88f 2px solid;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
}
.click-btn button:hover {
    background-color: white;
    color: #3cc88f;
    -webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.saving-whales input {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    border: #d3d4d8 1px solid;
    padding: 20px;
    margin-top: 20px;
}
/* end VY */


/* start DUC */
.infoKidz{
    background-image: url('img/ducsImg/mt-1961-content-bg-5.jpg');
    height: 250px;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.infoNumberKidz{
    display: flex;
    justify-content: center;
}

.NumberKidz{
    display: block;
    text-align: center;
    margin: 50px;
    padding: 20px;
    margin-top: 50px;
}

.NumberKidz h1, .NumberKidz p{
    color: white;
}

.NumberKidz h1{
    font-size: 90px;
    font-weight: 1000;
}

.NumberKidz p{
    font-weight: 1000;
}


.subscribeKidz{
    display: flex;
    justify-content: center;
    min-height: 640px;
}

.sub-SubKidz{
    display: flex;
    justify-content: center;
    height: 60%;
    margin-top: 100px;
}

.subInfoKidz{
    margin: 20px;
    padding: 10px;
}


.SubKidz{
    width: 20%;
}

.AboutUsKidz{
    width: 18%;
}

.widgetKidz{
    width: 40%;
}

.TabWidgetKidz{
    width: 100%;
}

.TabWidgetKidz ul{
    display: flex;
    justify-content: center;
}

.TabWidgetKidz ul li{
    padding: 20px;
}

.AboutUsDownKidz, .AboutUsUpKidz{
    margin: 20px;
}

.AboutUsUpKidz span{
    margin-right: 10px;
}

.AboutUsDownKidz h1, .AboutUsUpKidz p{
    font-weight: 900;
}

.AboutUsUpKidz p{
    margin-left: 10px;
    padding-top: 25px;
    font-size: larger;
}

.SubCategoryKidz{
    width: 90%;
}

.SubCategoryKidz h1, .SubCategoryKidz p, .SubCategoryKidz input, .SubCategoryKidz button, .SubCoverKidz input, .SubCoverKidz button {
    margin-top: 20px;
    display: block;
}

.SubCategoryKidz input, .SubCoverKidz input{
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    border: solid 2px rgba(186, 186, 186, 0.629);
}

.textKidz{
    height: 35px;
}

.messKidz{
    height: 150px;
}

.VolunteerKidz button, .SubCoverKidz button{
    padding: 10px;
    width: 20%;
    border-radius: 20px;
    color: white;
    background-color: rgb(0, 255, 183);
    font-weight: 900;
    border: solid 1px rgba(186, 186, 186, 0);
}

.VolunteerKidz button:hover, .SubCoverKidz button:hover{
    background-color: white;
    color: rgb(0, 255, 183);
    border: solid 1px rgb(0, 255, 183);
}

.xKidz{
    background-color: rgb(3, 1, 21);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.activeTabKidz{
    background-color: rgb(0, 255, 183);
    color: white;
}

.SubKidz{
    background-image: url('img/ducsImg/mt-1961-img-8.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    max-width: 18.5%;
    height: 385px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SubCoverKidz button{
    width: 60%;
    height: 50px;
    border-radius: 30px;
    margin: 20px auto;
}

.SubCoverKidz input{
    margin: 20px auto;
    height: 45px;
    width: 95%;
    border-radius: 30px;
}

.SubCoverKidz h1{
    color: white;
    margin: 20px auto;
    font-size: 150%;
}

.SubCoverKidz{
    margin-top: 50px;
}

.eventCoverKidz{
    display: flex;
}

.eventImgKidz{
    background-image: url('img/ducsImg/mt-1961-content-bg-6.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 50%;
    min-height: 418px;
}

.upcomingEventKidz{
    padding-top: 10px;
    background-color: #252839;
    position: relative;
    width: 60%;
    min-height: 418px;
    left: 759px;
    display: block;
    justify-content: center;
    align-items: center;
}

.WhoWeAreKidz{
    margin-left: 30px;
    padding-bottom: 30px;
}

.missonKidz{
    display: flex;
    background-color: white;
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
}

.missonKidz h3{
    margin-top: 12px;
    margin-left: 12px;
}

#myDIV, #myDIV2, #myDIV3 {
    width: 80%;
    margin: 20px auto;
    /* opacity: 0;
    transition: all ease 0.8s; */
}

.show, .activeMissionKidz{
    background-color: #3cc88f;
    color: white;
}

#myDIV p, #myDIV2 p, #myDIV3 p{
    color: white;
    margin-right: 20px;
}

#myDIV .hide {
    /* opacity: 1; */
}
  
/* end DUC */


/* start NGHIA */
footer{
    /* position: fixed; */
    background: #282c3c;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: white;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
  

  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: white;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: black;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}

.container{
    background-color: #1d2739 ;
    min-height: calc(100vh - 50px);
    color: white;
}
.content-container{
    margin-left: 50px;
}
.featured-content{
    height: 50vh;
    padding: 50px;
}
.featured-title{
     width: 200px;
}
.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}
.featured-button a{
    background-color: #50B51A;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

}
.game-list-container{
    padding: 0 20px;
}
.game-list-wrapper {
    position: relative;
    overflow: hidden;
  }
.game-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.game-list-item{
    margin-right: 30px;
    position: relative;

}
.game-list-item:hover .game-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}
.game-list-item:hover .game-list-item-title,
.game-list-item:hover .game-list-item-desc,
.game-list-item:hover .game-list-item-button {
  opacity: 1;
}
.game-list-item-img{  
    transition: all 1s ease-in-out;
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.game-list-item-title {
    background-color: #1d2739;
}

font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: white;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: black;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}

.container{
    background-color: #1d2739 ;
    min-height: calc(100vh - 50px);
    color: white;
}
.content-container{
    margin-left: 50px;
}
.featured-content{
    height: 50vh;
    padding: 50px;
}
.featured-title{
     width: 200px;
}
.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}
.featured-button a{
    background-color: #50B51A;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

}
.game-list-container{
    padding: 0 20px;
}
.game-list-wrapper {
    position: relative;
    overflow: hidden;
  }
.game-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.game-list-item{
    margin-right: 30px;
    position: relative;

}
.game-list-item:hover .game-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}
.game-list-item:hover .game-list-item-title,
.game-list-item:hover .game-list-item-desc,
.game-list-item:hover .game-list-item-button {
  opacity: 1;
}
.game-list-item-img{  
    transition: all 1s ease-in-out;
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.game-list-item-title {
    background-color: #1d2739;
padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
.game-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
.game-list-item-button {
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
  }
 
  .container.active {
    background-color: white;
  }
 
  .movie-list-title.active {
    color: black;
  }
  *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.container:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
  background: url("img/nghia/cd9b4b9120d3e78dbec2.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right{
  padding: 25px 40px;
}

h2{
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after{
  content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

textarea{
  min-height: 150px;
}

.btn{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
  .contact-box{
    grid-template-columns: 1fr;
  }
  .left{
    height: 200px;
  }
}
/* end NGHIA */
